body {
  font-family: sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px #ccc;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: auto;
  padding: 5px 10px;
  background: crimson;
  color: white;
  margin-left: 5px;
  font-size: 12px;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  background: #e0ffe0;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}
